$color-text: #242627

$sans-expanded: "ABCGravity-Expanded", sans-serif
$sans-condensed: "ABCGravity-Expanded", sans-serif
$serif: "RhetorikSerif", serif

$heading-font-family: $serif
$body-font-family: $serif

$h1-font-family: $sans-expanded
$h1-size-desktop: pxToRem(130)
$h1-line-height: 90%
$h2-font-family: $sans-expanded
$h2-size-desktop: pxToRem(26)
$h3-font-family: $sans-condensed

$border-width: 4px

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none