$color-text: #242627
$color-text-alt: $color-text
$color-border: $color-text
// $color-accent: 

$sans-expanded: "ABCGravity-Expanded", sans-serif
$sans-condensed: "ABCGravity-SemiCondensed", sans-serif
$serif: "RhetorikSerif", serif

$heading-font-family: $serif
$body-font-family: $serif
$body-size: pxToRem(22)
$body-line-height: pxToRem(30)

$h1-font-family: $sans-condensed
$h1-size-desktop: calc(Min(#{pxToRem(170)}, 10vw))
$h1-line-height: 100%
$h2-font-family: $sans-condensed
$h2-size-desktop: pxToRem(40)
$h3-font-family: $sans-condensed
$h3-size-desktop: $body-size
$h4-font-family: $sans-condensed
$h4-size-desktop: $body-size
$h5-font-family: $serif
$h5-size-desktop: pxToRem(20)
$h5-text-transform: none

$lead-font-family: $serif
$lead-size-desktop: pxToRem(36)

$border-width: 4px
$block-timeline-border-width: 1px

$header-background: none
$header-border-bottom-width: 0

$footer-background-color: none
$footer-logo-height: pxToRem(70)
$footer-logo-height-desktop: pxToRem(150)
$footer-text-hidden: true
$footer-icons-size: pxToRem(44)
$footer-icons-size-desktop: pxToRem(44)

$hero-height: 0
$hero-height-desktop: 0
$hero-background-color: none

$btn-border-radius: 0
$btn-border-width: 0
$btn-color: var(--color-background)
$btn-background: var(--color-text)
$btn-font-family: $sans-condensed
$btn-text-transform: uppercase
$btn-padding-desktop: pxToRem(20) pxToRem(16) pxToRem(18)
$btn-padding-small-desktop: pxToRem(9) pxToRem(10) pxToRem(6)
$btn-line-height: 1

$vertical-space-1: space(9)

$block-space-y: $vertical-space-1 
$block-space-y-desktop: $vertical-space-1
$block-space-y-with-sidebar: $vertical-space-1


// Animations
$default-duration: 0
// $arrow-duration: 0
$bounce-ease-transition: cubic-bezier(0, 0.85, 0.7, 1)
$bounce-duration: 1.2s

@keyframes bounce-down
  0%, 30%
    transform: translateY(0)
  15%
    transform: translateY(5px)
