
.calendar-month
    caption
        a
            @include h4
            color: var(--color-text)
            &:hover
                color: var(--color-text)
                text-decoration: underline
    tbody
        a, span, .btn
            line-height: space(9.5)
        a
            background: var(--color-text)
            &:hover
                color: var(--color-text)
                background: var(--color-background)
    @include media-breakpoint-down(desktop)
        tbody a
            line-height: 2
