// exhibitions
.exhibition
    .exhibition-title
        a::after
            content: none !important
    .exhibition-subtitle
        @include h6
        margin-top: $spacing-2

// for section and blocks, when available
.exhibitions        
    &--grid
        .exhibition
            [class$="-content"]
                display: flex
                flex-direction: column
                [class$="-categories"]
                    order: -1
            
            @include media-breakpoint-up(desktop)
                .media
                    margin-bottom: $spacing-2

    &--agenda 
        .exhibition
            .exhibition-content
                display: flex
                flex-direction: column

                @include media-breakpoint-down(desktop)
                    .exhibition-schedule
                        margin-bottom: $spacing-2
                        margin-top: 0
                        order: -2
                    .exhibition-subtitle
                        margin-top: $spacing-2

                @include media-breakpoint-up(desktop)
                    > .exhibition-title,
                    hgroup
                        order: -2
                    [class*="-categories"]
                        order: -3