.events__section,
.events__page
    .events--agenda,
    .exhibitions--agenda
        margin-top: $spacing-4
        .events-date
            > ol > li
                margin-top: 0
                padding-top: 0
            &:first-child
                border-top: 4px solid var(--color-text)
                .events-date-title
                    padding-top: space(4)
            &:where(:not(:first-child))
                border: none
            .events-date-title + ol:where(:not(.event-children))
                margin-top: $spacing-2
                border-top: var(--border-width) solid var(--color-text)
                padding-top: $spacing-4
                @include media-breakpoint-down(desktop)
                    margin-top: space()
            
        .events-scheduled > li + li,
        .event-children > li
            padding-top: 0
            border-top: 0

        .events-scheduled > li + li
            margin-top: $spacing-4
            @include media-breakpoint-up(desktop)
                margin-top: space(23)
            
        .event
            @include media-breakpoint-up(desktop)
                .event-hours
                    margin-top: 0
                
                &:where(:not(.event--child))
                    padding-left: offset(2)
                    .media
                        width: columns(4)
                &:where(:not(.event--with-image))
                    .event-content
                        flex: unset
                
                &--parent ~ .event-children
                    > li
                        margin-left: offset(2)
                        article
                            padding-left: columns(2)
                        .media
                            width: calc(#{columns(2)} + var(--grid-gutter))
            + .event
                border: none
                padding-top: 0
            
            @include media-breakpoint-down(desktop)
                &--parent
                    .media
                        margin-left: 0
                        margin-right: 0
                
                &--child
                    flex-direction: column
                    border-left: 1px solid $color-border-alt
                    padding-left: $spacing-3
                    padding-bottom: 0
                    .media
                        order: -1
                        width: 100%
    

.event, .exhibition
    &,
    .events--agenda &
        &-title
            @include h3
    .event-categories a
        @include h6

.exhibitions--agenda,
.events--agenda,
.organizations__page,
.persons__page
    .exhibition,
    .event
        .exhibition-dates,
        .event-hours,
        &-subtitle
            @include h6
        &-title
            @include h4
        &-categories
            order: -1
            margin-bottom: $spacing-2
            margin-top: 0 !important
            a
                color: var(--color-text)
        .more
            padding-top: $spacing-2
    .events-date-title
        &, &.is-down
            @include h4
    .event
        .event-content
            display: flex
            flex-direction: column
    
    @include media-breakpoint-down(desktop)
        .events-date
            padding-top: 0
        .events-date-title
            padding-bottom: $spacing-1
            + .event
                padding-top: space(6) !important
        .event
            &--with-image .media
                margin-bottom: space(4)
            .event-hours,
            .event-description
                margin-top: 0
            .event-content > *:where(:not(.event-description))
                margin-bottom: pxToRem(10)

.organizations__page,
.persons__page
    &.full-width
        .events--list
            .event-dates
                @include h4
            .event-time
                @include h6

.event-programme,
.events-programme
    @include media-breakpoint-down(desktop)
        .events-date
            .events-date-title + ol:first-of-type
                padding-top: space(8)