// Parent event
.events__page
    .document-content + .event-parent
        .event-parent__title
            @extend .title-with-border
            @include h4
            margin-bottom: $spacing-4
        .event-content
            display: flex
            flex-direction: column
            .event-subtitle
                @include h6
                margin-top: $spacing-2
            .event-categories
                display: none

.events__page,
.exhibitions__page
    .hero
        .content
            padding-bottom: $spacing-3
            border-bottom: 4px solid var(--color-text)
        .hero-text
            margin-top: $spacing-3
            flex-direction: column
            h1
                margin-right: 0 !important
                max-width: 100%
                width: 100% !important
                span
                    @include h4
                    margin-top: $spacing-3 !important
                    color: var(--color-text)
                    display: block
            .taxonomies-single
                order: -1
                margin-top: 0
                margin-bottom: $spacing-2
