.block.block-agenda,
    .event
        .more
            margin-top: $spacing-3
        .event-parent
            margin-bottom: space()
            margin-top: 0
        
    
    &--grid
        @include extendable-list('.events')
        .event-title
            @include h4
        .event-subtitle
            @include h6
        .event-content
            display: flex
            flex-direction: column
            .event-categories
                order: -2
                margin-top: 0
                margin-bottom: $spacing-1
        
        @include media-breakpoint-down(desktop)
            .event
                .event-schedule
                    margin-top: 0
    
    &--list
        .events
            > li:last-child
                padding-bottom: 0
                margin-bottom: 0
        .event
            .event-content
                display: flex
                flex-direction: column            
                > .event-parent
                    margin-bottom: 0
            .event-title
                @include h4
            .event-subtitle
                @include h6
            .event-categories
                @include h5
                order: -1
                margin-top: 0
                margin-bottom: $spacing-2
            .event-dates
                @include h6
                
            @include in-page-without-sidebar
                .event-content
                    width: columns(6)
                .event-schedule
                    position: absolute
                    left: 0
                    width: columns(2)
                &:not(.event--with-image)
                    padding-left: offset(2)
                &--with-image
                    .media
                        order: -1
                        margin-left: offset(2)
                        width: columns(4)
            
        @include media-breakpoint-down(desktop)
            article
                gap: 0
            .event--with-image
                .media
                    max-width: 100%
            
    &--large
        .event
            .event-content
                display: flex
                flex-direction: column
                padding-right: 0
                .event-title
                    @include h4
                .event-subtitle,
                .event-dates
                    @include h6
                .event-schedule
                    margin-top: space(5)
                    margin-bottom: 0
                    .event-dates
                        margin-top: 0
                .event-categories
                    order: -2
                    margin-top: 0
                    a
                        @include link(var(--color-text))
                        &:not(:hover)
                            text-decoration-color: transparent
            @include in-page-without-sidebar
                align-items: flex-start
                
    // for all layouts
    .event
        .media
            img
                aspect-ratio: 16/9

// global
.event,
.exhibition
    .media
        img
            aspect-ratio: 16/9
            object-fit: cover
    [class$="-categories"]
        a
            text-decoration: none
            &:hover
                @include link
