.block-chapter
    @include in-page-without-sidebar
        .chapter
            gap: var(--grid-gutter)
            .text
                flex: 1
            .rich-text,
            .notes
                width: columns(6)

    &--no_background
        margin-bottom: var(--heading-margin-bottom)
        + .block-chapter--no_background
            --block-space-y: var(--heading-margin-bottom)

    &--alt_background
        .top
            .block-title
                @include h2
                &::after
                    content: none
        .notes
            p
                > a
                    @include meta
                    @include icon(arrow-right-line, after, true)
                    @include hover-translate-icon
                    text-decoration-color: var(--color-text)
