.block-chapter
    .page-the-place &
        .chapter
            .notes p
                @include h3
                a
                    text-decoration-color: var(--color-text)
            @include media-breakpoint-down(desktop)
                figure
                    order: 2
                    margin-top: $spacing-3
    .page-the-place.full-width &
        @include media-breakpoint-up(desktop)
            .chapter
                flex-direction: column
                .text
                    width: 100%
                .rich-text
                    width: columns(7)
                .notes
                    position: absolute
                    margin-top: $spacing-4
                figure
                    margin-top: $spacing-4
                    margin-left: auto
                    width: columns(10)
                    order: 2
                    button,
                    img
                        margin: 0
                        width: 100%