// full width blocks

.block
    @include in-page-with-sidebar
        &.block-gallery
            background-color: var(--color-background)
            // TODO : sidebar with full width blocks
            position: relative
            z-index: $zindex-toc+1
            .block-content
                padding-left: 0
            &--grid
                .gallery
                    @include flexbox-grid(4)