// full width blocks

.block
    @include in-page-with-sidebar
        &.block-gallery
            background-color: var(--color-background)
            // TODO : sidebar with full width blocks
            position: relative
            z-index: 9
            .block-content
                padding-left: 0
            .gallery
                @include flexbox-grid(4)