@mixin big-link-style
    .link-content
        display: flex
        flex-direction: column
        gap: 0
        margin: 0
        > a
            @include h2
            &::after
                content: none
            + p 
                margin-top: space(4)
        p
            @include body-text
            strong, b
                @include meta
                text-decoration: underline
                text-underline-offset: 2px
            a
                @include h6
    
    .media:where(:not(.media--icon)) 
        width: 100%
        img
            aspect-ratio: auto

.block-links
    .links
        .link-content
            > a::after
                @include h5
                content: '→'
            
            > p a
                @include link()
                position: relative
                z-index: 
                &[target="_blank"]::after
                    bottom: unset
                    content: '→'
                    display: inline-block
                    font-family: $body-font-family
                    margin-left: space()
                    transform: rotate(-45deg)
                    position: relative
                    right: unset

    
    &:not(.block-links--cards)
        gap: space(4)
        .link-content > a
            @include h5
            span
                &::after
                    display: none !important
            &[target="_blank"]
                &::after
                    content: '→'
                    display: inline-block
                    font-family: $body-font-family
                    font-size: 50%
                    transform: rotate(-45deg)

    @include in-page-with-or-without-sidebar
        .top
            flex-direction: column
            .block-title
                width: 100%
            .description
                margin-left: 0 !important

    &--list
        .links 
            > li
                @include big-link-style
                + li
                    border: none
                    padding-top: 0
                    margin-top: $spacing-4
                .link-content
                    @include in-page-with-or-without-sidebar
                        gap: $spacing-1

                @include media-breakpoint-down(desktop)
                    .media
                        margin-bottom: space(4)

                @include in-page-with-sidebar
                    .link-content
                        > a
                            @include h4
                    .media:where(:not(.media--icon))
                        width: columns(4)

            @include in-page-without-sidebar
                li + li
                    padding-bottom: 0
                
                .link-content
                    gap: 0
                    margin: 0
                    a, p
                        width: columns(6)
                
                li:not(:has(.media))
                    .link-content
                        a, p
                            width: columns(8)
                .media:where(:not(.media--icon))
                    width: columns(6)
    
    &--grid
        .links
            .link-content
                > p a
                    @include small
        @include in-page-without-sidebar
            .links:has(li:only-child)
                display: block
                > li
                    @include big-link-style
                    gap: $spacing-3
                    background: red
                > p a
                    @include body-text

    &--cards
        .links 
            > li:hover
                .link-content
                    p > a
                        @include link($block-links-card-hover-color)