.block.block-pages
    .top
        .block-title
            a::after
                display: none
    
    &.block-class-background-alt
        background-color: var(--color-background-alt)
        .block-content
            padding-bottom: $spacing-4
            padding-top: $spacing-4
    
    &--list
        .list.title-only
            .page
                a::before
                    content: '→'
                    font-family: inherit
        
        @include in-page-without-sidebar
            .pages:where(:not(.title-only))
                .page
                    .page-title
                        @include h4
            
            &.with-description
                .block-title::after
                    width: columns(12)

    @include in-page-without-sidebar
        .top
            display: block
            .block-title
                width: 100%
            .description
                margin-left: 0
                p
                    @include body-text