.block.block-pages
    .top .block-title,
    .page .page-title,
        a::after
            display: none
    &.block-class-background-alt
        background-color: var(--color-background-alt)
        .block-content
            padding-bottom: $spacing-4
            padding-top: $spacing-4
    @include in-page-without-sidebar
        .top
            display: block
            .block-title
                width: 100%
    // GRID
    .grid
        article
            .page-title
                @include h2
                @include media-breakpoint-up(desktop)
                    + p
                        margin-top: $spacing-3
        @include in-page-without-sidebar
            grid-gap: $spacing-6 var(--grid-gutter)
        @include media-breakpoint-down(desktop)
            article + article
                margin-top: $spacing-4
    // LARGE
    &--large
        .page
            .page-content
                flex: 1
            .page-title
                font-family: $sans-condensed
                font-size: $large-title-size
                a
                    text-decoration: none
                @include media-breakpoint-up(desktop)
                    font-size: $large-title-size-desktop
            &:hover .page-title a
                text-decoration: none
            .media
                img
                    aspect-ratio: unset
                @include media-breakpoint-up(desktop)
                    order: 2