.title-with-border
    @include h4
    position: relative
    margin-bottom: $spacing-3
    padding-bottom: $spacing-2
    &::after
        content: ''
        background: var(--color-text)
        position: absolute
        height: 4px
        left: 0
        right: 0
        bottom: 0
    @include in-page-without-sidebar
        max-width: 100%

body:not(.posts__page) .heading.block-title h2
    max-width: 100%

// heading title block with sidebar
body:not(.full-width) .block.heading  
    @include media-breakpoint-up(desktop)
        h2
            padding-left: 0
            margin-left: offset(4)

// global heading block and block title
body:not(.posts__page) .heading.block-title h2,
.block .block-title
    @extend .title-with-border

// heading block appareance in posts
.heading.block-title
    body.posts__page &
        h2
            @include lead

// remove arrow from titles
.block .block-title a
    &::after
        opacity: 0
    &:hover::after
        opacity: 1