.heading.block-title
    h2
        position: relative
        margin-bottom: $spacing-3
        padding-bottom: $spacing-2
        &::after
            content: ''
            background: var(--color-text)
            position: absolute
            height: 4px
            left: 0
            right: 0
            bottom: 0
            @include in-page-with-sidebar
                left: offset(4)
        @include in-page-without-sidebar
            max-width: 100%