<div class="additional-menu">
  <ul>
    <li>
      {{ partial "commons/search/button.html" "secondary" }}
    </li>
  
    {{ if in site.Params.i18n.positions "primary" }}
      {{ partial "commons/i18n.html" (dict
          "context" .
          "position" "primary"
        )}}
    {{ end }}
  </ul>

  <button class="change-color-mode-button">
    <span class="label">{{ i18n "commons.header.modes.label" }}</span>
    <span class="color-mode">{{ i18n "commons.header.modes.colors" }}</span>
    <span class="reading-mode">{{ i18n "commons.header.modes.normal" }}</span>
  </button>
</div>

<div class="menu-socials">
  {{ with (or site.Params.contact_details site.Data.website.social) }}
    {{ $site_social_links := . }}
    {{ if $site_social_links }}
      <ul class="footer-social site-links">
        {{ partial "commons/socials" (dict
            "use_default_email_label" true
            "context" .
          )}}
      </ul>
    {{ end }}
  {{ end }}
</div>

