footer#document-footer
    .container:first-child::before,
    .footer-menu
        border-top: 4px solid var(--color-text)
    .container
        &:first-child
            position: relative
            &::before
                content: ''
                position: absolute
                left: var(--grid-gutter)
                right: var(--grid-gutter)
                top: -(space(8))
            @include media-breakpoint-down(desktop)
                display: flex
                flex-direction: column
                > .footer-social
                    order: -1
                    margin-top: 0
                    margin-bottom: $spacing-3
                    .site-links
                        margin-top: 0
                &::before
                    top: -$spacing-4
    .container + .container
        flex-direction: column
        align-items: flex-start
        padding-top: $spacing-3
        @include media-breakpoint-down(desktop)
            padding-top: $spacing-4
            margin-top: 0
        > div
            width: 100%
        .footer-partners
            display: flex
            a::after
                content: none
            @include media-breakpoint-up(desktop)
                align-items: flex-end
                justify-content: space-between
                img
                    max-width: columns(2)
                + .footer-menu
                    margin-top: $spacing-5
            @include media-breakpoint-down(desktop)
                flex-wrap: wrap
                gap: $spacing-4 space(10)
                img
                    max-width: space(35)
        .footer-menu
            padding-top: $spacing-2
            li
                @include h6
            @include media-breakpoint-up(desktop)
                align-items: baseline
                display: flex
                gap: var(--grid-gutter)
                justify-content: space-between
                width: 100%
            @include media-breakpoint-down(desktop)
                margin-top: $spacing-4
                padding-top: $spacing-4
                li + li
                    margin-top: $spacing-3
    .footer-social
        .site-links
            display: flex
            gap: $spacing-2
            justify-content: space-between
            @include media-breakpoint-up(desktop)
                justify-content: flex-end
            .tiktok
                order: -1
                &::after
                    @include icon-site(icon-tiktok)
            // .linkedin
            //     order: 0
            //     &::after
            //         @include icon-site(icon-linkedin)
            // .instagram
            //     order: 1
            //     &::after
            //         @include icon-site(icon-instagram)
            // .facebook
            //     order: 2
            //     &::after
            //         @include icon-site(icon-facebook)
            li
                + li
                    margin-top: 0
                &::after
                    margin-left: 0
                    font-size: pxToRem(44) !important
        @include media-breakpoint-down(desktop)
            margin-top: $spacing-3
    .footer-logo
        p
            margin-top: $spacing-2
            @include media-breakpoint-up(desktop)
                margin-top: $spacing-3
    .footer-legals // todo or to erase
        margin-top: $spacing-4
    @include media-breakpoint-down(desktop)
        padding-top: $spacing-3
    @include media-breakpoint-up(desktop)
        padding-top: 0
        .container:first-child
            gap: var(--grid-gutter)
            .footer-logo
                width: columns(7)
            .footer-social
                flex: 1