header#document-header
    align-items: center
    display: flex
    justify-content: center
    .change-color-mode-button
        @include button-reset
        @include h5
        min-width: pxToRem(150)
        text-align: right
        span
            @include small
        .color-mode
            display: flex
        .reading-mode
            display: none
        &.is-color-mode
            .color-mode
                display: none
            .reading-mode
                display: flex
        span:not(:first-child)
            font-weight: bold
            position: relative
            align-items: center
            padding-right: space(12)
            &::before,
            &::after
                content: ''
                position: absolute
            &::before
                background: var(--color-text)
                border-radius: 30px
                height: space(5)
                width: space(10)
                right: 0
            &::after
                background: var(--color-background)
                border-radius: 100%
                height: space(4)
                right: 2px
                width: space(4)
        &:not(.is-color-mode)
            span:not(:first-child)::after
                right: calc(#{space(10)} - #{space(4)} - 2px)
        @include media-breakpoint-up(md)
            .label
                position: absolute
                width: 1
                height: 1
                opacity: 0
        @include media-breakpoint-down(desktop)
            @include media-breakpoint-up(md)
                width: 100%
                span:not(:first-child)
                    width: columns(2.2)
        @include media-breakpoint-down(md)
            border-bottom: 1px solid var(--color-border)
            border-top: 1px solid var(--color-border)
            display: flex
            flex: 1
            margin-left: var(--grid-gutter-negative)
            margin-right: var(--grid-gutter-negative)
            padding-bottom: $spacing-2
            padding-top: $spacing-2
            span + span
                margin-left: $spacing-1


    .header-button
        span:first-child
            @extend .sr-only
