.hero
    padding-bottom: $spacing-3
    .breadcrumb-nav + .content
        border-top: var(--border-width) solid var(--color-text)
        padding-top: $spacing-3
    .content
        padding-top: $spacing-3
    .taxonomies-single
        .terms a
            @include h4