.hero
    padding-bottom: 0
    h1
        word-break: break-word
    .breadcrumb-nav + .content
        border-top: var(--border-width) solid var(--color-text)
        padding-top: $spacing-3
    .content
        padding-top: $spacing-3
        figure
            @include media-breakpoint-up(desktop)
                figcaption
                    align-items: baseline
                    background: var(--color-background)
                    bottom: 0
                    color: var(--color-text)
                    display: flex
                    flex-direction: row-reverse
                    left: unset
                    max-width: 100%
                    position: absolute
                    right: 0
                    &::before
                        position: relative
                        right: unset
                        top: unset
                    .credit,
                    &::before
                        @include small
                        line-height: 1
                        padding: space() $spacing-1
                    .credit
                        padding-right: 0
                        p
                            padding: 0
        .hero-text
            margin-top: 0
    .taxonomies-single
        .terms a
            @include h4
    
    body:not(.events__page):not(.exhibitions__page):not(.persons__page) &
        .content
            flex-direction: column
            gap: var(--grid-gutter)
            .hero-text
                @include lead-hero
        
        &.hero--with-image
            @include media-breakpoint-up(desktop)
                .hero-content
                    display: flex
                    gap: var(--grid-gutter)
                .hero-text
                    width: 100%
                figure
                    width: columns(6)
                .lead
                    width: columns(6)
            @include media-breakpoint-down(desktop)
                .lead
                    margin-top: var(--grid-gutter)
        
        &:not(.hero--with-image)
            .lead
                margin-top: $spacing-3
            @include media-breakpoint-up(desktop)
                .hero-text
                    width: 100%
                .lead
                    width: columns(8)
        
        &:not(.hero--with-summary)
            @include media-breakpoint-up(desktop)
                figure
                    width: columns(8)
        
        .hero-actions
            .btn
                --btn-min-width: none
                @include button-reset
                @include icon(arrow-right-line, after, true)
                @include hover-translate-icon
                color: $color-text
                justify-content: flex-start
                padding: 0
                position: relative
                text-decoration: underline
                text-transform: none
                min-width: unset
                &::after
                    position: absolute
                    content: "→"
                    font-family: $heading-font-family
                    font-size: 110%
                    text-decoration: none
                    right: -(space(4))
                    
    @include media-breakpoint-down(desktop)
        body:not(.page__home) &
            margin-top: var(--grid-gutter)

        &--image-portrait,
        &--image-square
            margin-bottom: $spacing-3
            figure
                margin-bottom: 0 !important

        figure.image-landscape
            margin-left: 0
            margin-right: 0

        .hero-content
            margin-top: space(7)
    
    // posts with date under title
    .posts__page &
        .content
            border-bottom: 4px solid var(--color-text)
            padding-bottom: $spacing-4
            row-gap: $spacing-3 !important

    // new class
    &-complement
        @include body-text
        &::before
            content: '—' / ""
            margin-right: space(2)