body.is-color-mode-changing
    *
        transition-duration: 0s !important

main:not(.page-with-blocks, .page-with-map),
body[class*="__section"] main
    padding-bottom: 0

.document-content > .blocks .block:first-child
    &[class*="--accent_background"],
    &[class*="--alt_background"]
        margin-top: var(--grid-gutter) !important

main:not(.page-with-blocks)
    margin-bottom: var(--block-space-y)

.ancestor-ending-with-full-width-pages 
    @include media-breakpoint-up(desktop)
        main
            margin-bottom: space(24)

// BLOCKS
// title's arrow
.block
    .top
        margin-bottom: var(--heading-margin-bottom)
    .block-title a::after
        content: none
    .page .more::after,
    .post .more::after
        content: "→"
        font-family: $heading-font-family
        font-size: 110%
        margin-left: space()
    .post
        &-content
            align-items: flex-start
    .post .more,
    .call_to_action .actions a
        &::after
            content: "→"
            display: inline-block
            font-family: $heading-font-family
            font-size: 110%
            text-decoration: none
            margin-left: space()
            transition: transform 0.3s ease
        &:hover::after
            transform: translateX(10px)
    [class$="-title"]
        max-width: 100%


// remove margin between two alt/accent blocks following each other
.block[class*="--alt_background"],
.block-chapter--accent_background,
.block-class-background-alt
    + .block-class-background-alt
        margin-top: 0

// block with extendable grid (grid varies to suit item's number)
@mixin extendable-list($list: '> ul')
    @include in-page-without-sidebar
        #{$list}
            display: flex
            flex-wrap: wrap
            > li 
                width: columns(4)
                @each $items, $columns in (1: 6, 2: 6, 4: 3, 7: 3, 8: 3)
                    &:first-child:nth-last-child(#{$items}),
                    &:first-child:nth-last-child(#{$items}) ~ li
                        width: columns($columns)

// items media
article
    @include media-breakpoint-down(desktop)
        .media
            margin-bottom: space(4) !important

// slider with arrows on top of slides
.block[class*="--carousel"]
    .block-content
        position: relative
    .slider-arrows
        position: absolute
        top: space(-7)
        right: 0
        font-size: pxToRem(34)
        .slider-arrow-previous
            padding-right: space(5)
        .slider-arrow-next
            padding-left: space()
            margin-right: -$spacing-3
        .slider-progression
            @extend .sr-only
    @include media-breakpoint-down(desktop)
        .block-title
            padding-right: calc(#{columns(3)} + var(--grid-gutter))
        .slider-arrows
            top: space(-7)

    // to see arrows when there is no title (overflow hidden)
    &:not(.block-titled)
        overflow: visible
        .slider-arrows
            top: space(-20)
        .container
            overflow: hidden
            padding-top: $spacing-4
            @include media-breakpoint-up(desktop)
                margin-top: -$spacing-4

    @include media-breakpoint-up(desktop)
        // case with block title before
        .block-title + &:not(.block-titled)
            margin-top: 0
            padding-top: var(--heading-margin-bottom)
            .container
                padding-top: $spacing-5
                margin-top: space(-22)
            .slider-arrows
                top: space(-22)


// no block should stick to footer
main .blocks
    .block[class*="--alt_background"] + .block-class-background-alt
        margin-top: 0
        .block-content
            padding-top: 0
    .block:last-child:is([class*="--accent_background"], [class*="--alt_background"], .block-timeline--horizontal, .block-pages--cards)
        margin-bottom: var(--grid-gutter)

// page like 'infos pratiques' ending with 2 pages full width
.page-ending-with-full-width-pages
    @include media-breakpoint-up(desktop)
        .blocks .block
            &:last-child.block-pages
                background-color: var(--color-background)
                margin-top: $spacing-5
                position: relative
                z-index: 50
                .block-content
                    padding-left: 0

// slider
.slider
    .slider-arrows
        .slider-arrow-previous
            &::before
                content: "←"
                font-family: $heading-font-family
        .slider-arrow-next
            &::before
                content: "→"
                font-family: $heading-font-family

.container.children-categories
    ul
        row-gap: $spacing-1
        a:hover
            text-decoration: underline

// cards title size
.block-pages--cards .pages,
.categories--cards
    article
        [class*="-title"]
            @include h4

// ficaption on images for blocks
.block:not(.block-testimonials, .block-features, .block-files)
    figure
        @include absolute-figcaption
        // &:hover
        //     figcaption .credit p
        //         &, a
        //             font-size: var(--small-size)
        //             gap: $spacing-1
    @include media-breakpoint-up(desktop)
        &.block-call_to_action,
        &.block-gallery
            figure:hover
                .credit p
                    a
                        width: 100%
                    span[aria-hidden]:first-child
                        margin-left: auto
                        
        &.block-call_to_action
            figure figcaption a
                color: var(--color-text)

    @include in-page-with-sidebar
        &.block-call_to_action
            figure,
                width: calc(#{columns(3)} + var(--column-width))
                figcaption
                    margin-left: 0
                    .credit
                        max-width: columns(3)
// more
.more
    &::after
        content: "→" !important
        font-family: $heading-font-family !important
        margin-left: space()

    &.meta
        @include h6