\:root
    // --color-accent: #{alphaColor(#{$color-text}, 0.8)}

main:not(.page-with-blocks, .page-with-map),
body[class*="__section"] main
    padding-bottom: 0

.document-content > .blocks .block:first-child
    &[class*="--accent_background"],
    &[class*="--alt_background"]
    margin-top: var(--grid-gutter) !important

main:not(.page-with-blocks)
    margin-bottom: var(--block-space-y)

.ancestor-ending-with-full-width-pages 
    @include media-breakpoint-up(desktop)
        main
            margin-bottom: space(24)

// blocks
.block
    .block-title a::after
        content: none
    .page .more::after,
    .post .more::after
        content: "→"
        font-family: $heading-font-family
        font-size: 110%
        margin-left: space()
    .post
        &-content
            align-items: flex-start
    .post .more,
    .call_to_action .actions a
        &::after
            content: "→"
            display: inline-block
            font-family: $heading-font-family
            font-size: 110%
            text-decoration: none
            margin-left: space()
            transition: transform 0.3s ease
        &:hover::after
            transform: translateX(10px)

// items media
article
    @include media-breakpoint-down(desktop)
        .media
            margin-bottom: space(4) !important

// slider with arrows on top of slides
[class*="--carousel"]
    .block-content
        position: relative
    .slider-arrows
        position: absolute
        top: 0
        font-size: pxToRem(34)
        right: 0
        transform: translateY(-$spacing-3)
        .slider-arrow-previous
            padding-right: space(5)
        .slider-arrow-next
            padding-left: space()
            margin-right: -$spacing-3
        .slider-progression
            @extend .sr-only
    @include media-breakpoint-down(desktop)
        .block-title
            padding-right: calc(#{columns(3)} + var(--grid-gutter))
        .slider-arrows
            transform: translateY(space(-7))
            width: columns(3) !important

    // to see arrows when there is no title (overflow hidden)
    &:not(.block-titled)
        .block-content
            padding-top: $spacing-5

// no block should stick to footer
main .blocks 
    .block:last-child:is([class*="--accent_background"], [class*="--alt_background"], .block-timeline--horizontal, .block-pages--cards)
        margin-bottom: var(--block-space-y)

// section's dropdowns
.agenda-filters,
.taxonomies-list--dropdown
    .dropdown
        > button,
        > button[aria-expanded="true"]
                &::after
                    @include icon-site('icon-chevron')
                    display: inline-block
                    font-size: 70%
                    transform-origin: center
                    
                    @include media-breakpoint-down(desktop)
                        font-size: 60%
        
        > button[aria-expanded="true"]::after
            transform: rotate(180deg)
            vertical-align: top

    @include media-breakpoint-down(desktop)
        .offcanvas-content
            .dropdown > button
                @include h6
                padding-left: 0
                padding-right: 0

// page like 'infos pratiques' ending with 2 pages full width
.page-ending-with-full-width-pages
    @include media-breakpoint-up(desktop)
        .blocks .block
            &:last-child.block-pages
                background-color: var(--color-background)
                margin-top: $spacing-5
                position: relative
                z-index: 50
                .block-content
                    padding-left: 0

// slider
.slider
    .slider-arrows
        .slider-arrow-previous
            &::before
                content: "←"
                font-family: $heading-font-family
        .slider-arrow-next
            &::before
                content: "→"
                font-family: $heading-font-family

.container.children-categories
    ul
        row-gap: $spacing-1
        a:hover
            text-decoration: underline

// ficaption on images for blocks
.block
    figure
        &:hover
            figcaption .credit p
                font-size: var(--small-size)
                gap: $spacing-1

        figcaption
            @include media-breakpoint-up(desktop)
                margin-top: 0
                .credit 
                    background: var(--color-background) !important
                    bottom: 0
                    max-width: 100%
                    position: absolute
                    right: 0
                    p:where(:not(.sr-only))
                        @include small
                        align-items: baseline
                        color: var(--color-text)
                        display: flex
                        flex-direction: row-reverse
                        font-size: 0
                        line-height: 1
                        padding: space() $spacing-1
                        span
                            font-size: var(--small-size)
                            &[aria-hidden]:first-child
                                margin-right: 0
                > div:not(.credit)
                    margin-top: $spacing-1
                    + .credit
                        bottom: $spacing-2
                        transform: translateY(-100%)
            @include media-breakpoint-down(desktop)
                @include meta
                text-align: right
                margin-top: $spacing-1

// more
.more
    &::after
        content: "→" !important
        font-family: $heading-font-family !important
        margin-left: space()

    &.meta
        @include h6