.single-meta
    &,
    .taxonomies > ul
        > li
            @include meta-serif
            span, a
                @include meta-serif
            @include media-breakpoint-down(desktop)
                --border-width: 0
                flex-direction: column
                row-gap: 0 !important
                > :last-child
                    text-align: left !important