.pagination
    li
        a
            @include h6
            line-height: $spacing-4
            @include media-breakpoint-up(desktop)
                @include h5
                line-height: $spacing-4
        &.active
            a
                background: var(--color-text)
                color: var(--color-background)
                &:hover
                    color: var(--color-text)
                    background: var(--color-background-alt)