.toc-container
    .toc-title
        text-transform: uppercase
        font-family: $serif
    .toc-pages
        @include meta-serif
        li
            display: flex
            gap: space()
            &::before
                content: '—' / ""
        a.active
            font-weight: bold