{{ $context := .context | default . }}
{{ $templates := .templates | default (slice "chapter" "organizations") }}

<div class="blocks">
  {{ range $index, $content := $context }}
    {{ if in site.Params.blocks.ignored .html_class }}
      {{ if in $templates .template }}
        {{ $template := printf "blocks/templates/%s.html" .template }}
        {{ if templates.Exists ( printf "partials/%s" $template ) }}
          {{ partial $template (dict
              "block" $content
              "index" $index
            )}}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>