.events__page,
.exhibitions__page
    .hero
        .hero-text
            flex-direction: column
            margin-top: 0
            > h1, > hgroup
                width: auto !important
                max-width: none !important
                margin-right: 0 !important
                span
                    @include h4
                    color: var(--color-text)
                    display: block
            .taxonomies-single
                margin-top: 0
                margin-bottom: $spacing-2
                order: -1
                column-gap: $spacing-3 
                a
                    color: var(--color-text)
                    &:not(:hover)
                        text-decoration-color: transparent
        figure
            display: none
    .document-content
        margin-top: $vertical-space-1
    .event-access
        .events-slots-title
            display: none !important
        .event-summary
            .date
                font-family: $sans-condensed
                width: auto
        > div:first-child
            border-top-color: $color-text
            padding-top: $spacing-2
        > div:last-child
            border-bottom-color: $color-text
            padding-bottom: $spacing-2
    figure + .event-practicals
        margin-top: $vertical-space-1
    .programme-btn-container
        .btn
            &, &:hover
                @include h4
                margin-left: offset(4)
                margin-bottom: $vertical-space-1
                text-transform: none
                background: none
                text-decoration: underline
                color: var(--color-text)
                padding: 0
                border: 0
            &::after
                content: ' ↓'
                display: inline-block
                position: relative
            &:hover::after
                animation: bounce-down $bounce-duration $bounce-ease-transition infinite
    .event-practicals
        display: flex
        flex-direction: column
        gap: $vertical-space-1
        > h2
            @extend .sr-only
        .btn
            --btn-font-size: 4.8vw
            --btn-line-height: 4.8vw
            display: block
            order: -1
            &[target="_blank"]
                &::after
                    display: none
    .event-summary
        .dropdown-calendar
            > button
                &:hover
                    background: var(--color-text)
                    color: var(--color-background)
.events__section
    .agenda-exhibitions
        background: transparent
        padding-bottom: 0
        h2
            @include h3

.event, .exhibition
    &,
    .events--agenda &
        &-title
            @include h3

.events-calendar
    .calendar-month
        caption
            a
                @include h3
        tbody
            a, span
                line-height: space(9.5)

.exhibitions--agenda,
.events--agenda
    .exhibition,
    .event
        .exhibition-dates,
        .event-hours,
        &-subtitle
            @include h6
        &-title
            @include h4
        &-categories
            order: -1
            margin-bottom: $spacing-2
            margin-top: 0
        .more
            padding-top: $spacing-2
    .events-date-title
        &, &.is-down
            @include h4
    .event
        .event-content
            display: flex
            flex-direction: column

// ARCHIVES
.events-archives-years
    margin-bottom: -$spacing-5
    ol
        li:last-child
            border: none
        p
            @include h6
