.events__page,
.exhibitions__page
    .hero
        padding-bottom: $spacing-3
        &.hero--with-image
            .hero-text
                flex-direction: column
                margin-top: 0
                > h1, > hgroup
                    margin-top: $spacing-2
                    margin-right: 0 !important
                    max-width: none !important
                    width: auto !important
        .hero-text
            h1
                span
                    @include h4
                    color: var(--color-text)
                    display: block
            .taxonomies-single
                margin-top: 0
                margin-bottom: $spacing-2
                order: -1 !important
                column-gap: $spacing-3 
                a
                    color: var(--color-text)
                    &:not(:hover)
                        text-decoration-color: transparent
        figure
            display: none
        
        @include media-breakpoint-up(desktop)
            &.hero--image-portrait,
            &.hero--image-landscape,
            &.hero--image-square
                .hero-text
                    width: columns(10)
            &:not(.hero--with-image)
                .hero-text > h1
                    width: columns(12)
        
        @include media-breakpoint-down(desktop)
            margin-bottom: 0 !important
            .hero-text
                display: flex
                flex-direction: column
                margin-bottom: 0
                h1
                    margin-top: 0 !important
                    span
                        margin-top: $spacing-3
                .taxonomies-single
                    margin-bottom: $spacing-3
    
    .document-content
        margin-top: $vertical-space-1
        @include media-breakpoint-down(desktop)
            &, .event-practicals
                margin-top: space(7)
        @include media-breakpoint-up(desktop)
            .block .block-content
                padding-left: offset(6)
            .block.heading h2
                margin-left: offset(6)
            .section-sidebar
                width: columns(6)
                z-index: $zindex-aside

    .event-access
        .events-slots-title
            @extend .sr-only
            + .extendable-list
                .event-time-slot
                    @include h5
        .event-summary
            &, .type
                @include h6
                @include media-breakpoint-up(desktop)
                    @include h5
        .event-summary
            .date
                width: auto
        > div:first-child
            border-top: 4px solid $color-text
            padding-top: $spacing-3
        > div:last-child
            border-bottom-color: $color-text
            padding-bottom: $spacing-3
        .event-time-slot,
        .event-summary
            .dropdown-calendar
                --dropdown-color: var(--color-background)
                ul 
                    background-color: var(--color-text)
                > button
                    @include small
                    font-family: $body-font-family
                    font-weight: normal
    
    .programme-btn-container
        .btn
            &, &:hover
                @include h6
                margin-bottom: $vertical-space-1
                text-transform: none
                background: none
                text-decoration: underline
                color: var(--color-text)
                padding: 0
                border: 0
            &::after
                content: ' ↓'
                display: inline-block
                position: relative
            &:hover::after
                animation: bounce-down $bounce-duration $bounce-ease-transition infinite

    .event-practicals
        display: flex
        flex-direction: column
        gap: $vertical-space-1
        > h2
            @extend .sr-only
        .btn
            display: block
            order: -1
            text-transform: uppercase
            overflow: hidden
            white-space: wrap
            &:focus, &:focus-within
                background: alphaColor($color-text, 0.8)
                color: var(--color-background)
            &[target="_blank"]
                &::after
                    display: none
            @include media-breakpoint-down(desktop)
                @include h2
                --btn-padding: #{space(5)} #{space(3)}
                text-transform: uppercase
            @include media-breakpoint-up(desktop)
                --btn-font-size: 4.8vw
                --btn-line-height: 4.8vw
                text-transform: uppercase

    .event-summary
        .dropdown-calendar
            > button
                &:hover
                    background: var(--color-text)
                    color: var(--color-background)

    @include media-breakpoint-down(desktop)
        .event-access
            > div:first-child
                padding-top: space(5)
            > div:last-child
                padding-bottom: space(5)

            .event-slots
                .event-summary
                    flex-direction: row
            
            .events-slots-title + .extendable-list 
                .event-time-slot,
                .location
                    @include h6
            
            .event-time-slot,
            .event-slots .event-summary
                .location,
                .hours,
                .date
                    width: columns(10)
                .date
                    order: -2
                .hours
                    text-align: left
                .location
                    @include body-text
            .type
                margin-top: space()

            // dropdowns
            .event-time-slot,
            .event-summary
                position: relative
                .dropdown-calendar
                    background: none
                    width: 100%
                    padding: 0
                    position: absolute
                    right: 0
                    text-align: right
                    > button
                        span
                            @include sr-only
                        &::after
                            margin-left: 0 !important
                            font-size: pxToRem(32)
                    .dropdown-menu 
                        left: unset
                        right: var(--grid-gutter-negative)
                        ul
                            background: var(--color-text)
                            li > a
                                color: var(--color-background)
            .event-time-slot
                row-gap: 0
        
        .event-practicals
            gap: space(5)
        

    &:not(.full-width)
        .event-sidebar
            padding-bottom: $spacing-3
            figure
                margin-bottom: $spacing-3
                position: relative
                figcaption
                    @include meta
                    opacity: 0
                    background: var(--color-background)
                    bottom: 0
                    margin-top: space()
                    padding: 0 space()
                    position: absolute
                    right: 0
                &:hover figcaption
                    opacity: 1
            .blocks
                .block-content,
                .container
                    padding: 0
                .top
                    margin-bottom: space(6)
                    .block-title
                        @include h6
                .block-organizations
                    margin-top: space(14)
                    .organizations
                        display: flex
                        flex-wrap: wrap
                        .organization-content
                            @extend .sr-only
                        figure
                            margin-bottom: 0
                        .media
                            filter: grayscale(1)
                            margin-bottom: 0
                            padding: 0
                            width: columns(3)
                            @include media-breakpoint-up(desktop)
                                width: columns(1.2)
                            @include media-breakpoint-up(xxxl)
                                width: columns(1)
                        
                        @include media-breakpoint-down(desktop)
                            @include grid(3)
                            .media--logo
                                padding: $spacing-1
                                width: 100%

            .event-practicals
                p
                    @include small
            @include media-breakpoint-up(desktop)
                .event-practicals
                    padding-bottom: space(10)
                    p + p
                        margin-top: space(2)
                    .btn
                        padding-bottom: space(3)
            @include media-breakpoint-down(desktop)
                padding-bottom: 0
                margin-bottom: 0
                .event-practicals p
                    @include body-text
        
        .document-content > .blocks
            .block-chapter
                + .block-title
                    margin-top: space(10)
                    margin-bottom: $spacing-2
                    + .block
                        margin-top: $spacing-2
            @include media-breakpoint-up(desktop)
                .block-persons
                    .persons
                        @include grid(3)
                        .avatar
                            width: offset(1)
                .block-organizations
                    .organizations
                        @include grid(5)

    @include media-breakpoint-up(desktop)
        .programme-btn-container
            .btn
                margin-left: offset(6)
    footer#document-footer
        padding-top: 0

.events__section
    main,
    .document-content > .container + .container
        margin-bottom: 0

    .hero 
        margin-bottom: 0
        
    .agenda-exhibitions
        background: transparent
        margin-bottom: space(4)
        padding-bottom: 0
        padding-top: $spacing-3
        h2
            @include h4
            padding-bottom: $spacing-2
            border-bottom: 4px solid var(--color-text)

        + .agenda-filters
            margin-top: space(4)

        .exhibition
            .exhibition-schedule
                order: -1
            .more::after
                content: "→"
                font-family: $heading-font-family
                font-size: 110%
                margin-left: space()
            
            &--with-image
                .more
                    margin-top: unset
            @include media-breakpoint-up(desktop)
                .exhibition-schedule
                    width: columns(2)
            @include media-breakpoint-down(desktop)
                .more
                    font-size: $body-size-desktop

    .events-archives-years
        margin-bottom: $spacing-3
        margin-top: $spacing-4
        ol
            li
                a
                    @include h4
        @include media-breakpoint-up(desktop)
            margin-bottom: $spacing-5
    
    .agenda-filters
        .dropdown > button
            font-weight: bold !important
        
        .dates-filters, .dropdown-dates
            --dropdown-background: var(--color-text)
        .dropdown-dates
            button[aria-expanded="true"]
                color: #{$color-background}
        .dates-filters
            .calendar-month
                --color-text: #{$color-background}
                --color-background: #{$color-text}
                color: var(--color-text)
                h2
                    @include h6
            .slider-arrows button
                color: #{$color-background}
        
        .filter-taxonomies
            .dropdown
                ul 
                    > li a 
                        @include h6
                        &::after
                            content: '→'
                            font-family: $heading-font-family
                            margin-left: space()
                    @include media-breakpoint-down(desktop)
                        padding: 0
        
        @include media-breakpoint-down(desktop)
            margin-top: $spacing-3
            .dropdown-dates,
            .filter-taxonomies
                flex: unset
                button
                    width: auto
                    align-items: baseline
                    display: flex
            .filter-taxonomies
                margin-left: $spacing-2
                button
                    margin-left: 0 !important
            + .events-programme
                margin-top: 0
                .events
                    margin-top: 0
        
        @include media-breakpoint-up(desktop)
            // align taxo with agenda title
            margin-top: calc(-1 * #{$spacing-3} - #{$spacing-3} - 1px)
            --dropdown-background: var(--color-text)
            .container
                padding-left: columns(5)
            .dropdown 
                button
                    @include small
                    &[aria-expanded="true"]
                        color: var(--color-background)
                ul > li a
                    color: var(--color-background)
            @include media-breakpoint-down(xl)
                // medium screens
                margin-top: calc(-1 * #{$spacing-3} - #{$spacing-3} + #{space()})
            @include media-breakpoint-up(xxl)
                // large screens
                margin-top: calc(-1 * #{$spacing-3} - #{$spacing-3} - #{space()})

.event__section
    .event
        .event-categories a
            @include h6

.events__section,
.events__page
    .events--agenda,
    .exhibitions--agenda
        margin-top: $spacing-4
        .events-date
            > ol > li
                margin-top: 0
                padding-top: 0
            &:first-child
                border-top: 4px solid var(--color-text)
                .events-date-title
                    padding-top: space(4)
            &:where(:not(:first-child))
                border: none
            .events-date-title + ol:not(.event-children)
                margin-top: $spacing-2
                border-top: var(--border-width) solid var(--color-text)
                padding-top: $spacing-4
                @include media-breakpoint-down(desktop)
                    margin-top: space()
            
        .events-scheduled > li + li,
        .event-children > li
            padding-top: 0
            border-top: 0

        .events-scheduled > li + li
            margin-top: $spacing-4
            @include media-breakpoint-up(desktop)
                margin-top: space(23)
            
        .event
            @include media-breakpoint-up(desktop)
                .event-hours
                    margin-top: 0
                
                &:not(.event--child)
                    padding-left: offset(2)
                    .media
                        width: columns(4)
                &:not(.event--with-image)
                    .event-content
                        flex: unset
                
                &--parent ~ .event-children
                    > li
                        margin-left: offset(2)
                        article
                            padding-left: columns(2)
                        .media
                            width: calc(#{columns(2)} + var(--grid-gutter))
            + .event
                border: none
                padding-top: 0
            
            @include media-breakpoint-down(desktop)
                &--parent
                    .media
                        margin-left: 0
                        margin-right: 0
                
                &--child
                    flex-direction: column
                    border-left: 1px solid $color-border-alt
                    padding-left: $spacing-3
                    padding-bottom: 0
                    .media
                        order: -1
                        width: 100%
    

.event, .exhibition
    &,
    .events--agenda &
        &-title
            @include h3

.calendar-month
    caption
        a
            @include h4
            color: var(--color-text)
            &:hover
                color: var(--color-accent)
    tbody
        a, span, .btn
            line-height: space(9.5)
        a
            background: var(--color-text)
            &:hover
                background: var(--color-accent)
    @include media-breakpoint-down(desktop)
        tbody a
            line-height: 2

.exhibitions--agenda,
.events--agenda,
.organizations__page,
.persons__page
    .exhibition,
    .event
        .exhibition-dates,
        .event-hours,
        &-subtitle
            @include h6
        &-title
            @include h4
        &-categories
            order: -1
            margin-bottom: $spacing-2
            margin-top: 0 !important
            a
                color: var(--color-text)
        .more
            padding-top: $spacing-2
    .events-date-title
        &, &.is-down
            @include h4
    .event
        .event-content
            display: flex
            flex-direction: column
    
    @include media-breakpoint-down(desktop)
        .events-date
            padding-top: 0
        .events-date-title
            padding-bottom: $spacing-1
            + .event
                padding-top: space(6) !important
        .event
            &--with-image .media
                margin-bottom: space(4)
            .event-hours,
            .event-description
                margin-top: 0
            .event-content > *:not(.event-description)
                margin-bottom: pxToRem(10)

// ARCHIVES
.events-archives-years
    margin-bottom: -$spacing-5
    ol
        li:last-child
            border: none
        p
            @include h6

.events__section-year,
.events__section-month
    .hero
        margin-bottom: $spacing-5

.organizations__page,
.persons__page
    &.full-width
        .events--list
            .event-dates
                @include h4
            .event-time
                @include h6

// Parent event
.events__page
    .event-parent
        .event-parent__title
            @extend .title-with-border
            @include h4
            margin-bottom: $spacing-4
        .event-content
            .event-subtitle
                @include h6
            .more
                position: relative
                &:after
                    position: absolute
                    content: "→"
                    font-family: $heading-font-family
                    font-size: 110%
                    margin-left: space()
        .event--with-image
            .media
                order: -1
                @include media-breakpoint-up(desktop)
                    width: columns(6)
    @include media-breakpoint-down(desktop)
        .event-programme
            .events--agenda
                .event--child
                    padding-left: 0
                    border-left: 0
    @include media-breakpoint-up(desktop)
        .event-programme
            .events--agenda
                .event--child
                    padding-left: offset(2)
                    .media
                        width: columns(4)
    

// exhibitions
.exhibition
    &-title a::after
        content: none !important
    .more
        &::after
            content: '→' !important
            font-family: $heading-font-family !important
            margin-left: space()

.exhibitions
    &--agenda 
        .exhibition
            .exhibition-content
                display: flex
                flex-direction: column
                [class*="-categories"]
                    a
                        @include h6
                        @include link(var(--color-text))
                        text-decoration: none

                @include media-breakpoint-down(desktop)
                    .exhibition-schedule
                        margin-bottom: $spacing-2
                        margin-top: 0
                        order: -2
                    [class*="-categories"]
                        @include h6
                    .meta
                        @include meta

                @include media-breakpoint-up(desktop)
                    > .exhibition-title,
                    hgroup
                        order: -2
                    [class*="-categories"]
                        order: -3
    &--grid
        .exhibition
            .media 
                margin-bottom: 0 !important