[class$="-categories"]
    a
        @include meta
        @include link
        color: var(--color-text) !important

.categories
    &--grid
        [class$="-title"]
            @include h4
        article:not(:has(.more))
            [class$="-title"] a::after
                content: '→'
                font-family: inherit
    
    &--list
        @include in-page-without-sidebar
            article [class$="-content"]
                [class$="-title"]
                    @include h4

.category-item
    .more
        @include meta

.block.block-categories--large
    .categories
        article [class$="-content"]
            [class*="-title"]
                @include h2
                @include in-page-with-sidebar
                    @include h4

.children-categories
    ul 
        border-bottom: 4px solid var(--color-text)
        border-top: 4px solid var(--color-text)
        padding-top: space(2)
        padding-bottom: space(1)
        li 
            a
                @include meta
                text-decoration: none
                &:hover
                    text-decoration: 1px solid inherit
                
                @include media-breakpoint-up(desktop)
                    @include h5
        
        @include media-breakpoint-up(desktop)
            padding-top: space(5)
            padding-bottom: space(4)
            gap: space(20)
            margin-bottom: space(24)

.section-taxonomies-container, .agenda-filters
    .dropdown > button,
    .filter-taxonomies .offcanvas-button,
    .taxonomies-list .dropdown .taxonomy-categories-list > li span
        @include small
        @include icon-chevron
        font-weight: bold
    
    .taxonomies-list
        .dropdown
            .taxonomy-categories-list
                > li 
                    a, span
                        @include h6
                    a::after
                        content: '→'
                        font-family: $heading-font-family
                        margin-left: space()
                // @include media-breakpoint-down(desktop)
                //     padding: 0
