.events__page,
.exhibitions__page
    .event-access
        .parent-event
            .events-slots-title
                display: none !important
            .date
                font-family: $sans-condensed
                width: auto
        > div:first-child
            border-top-color: $color-text
            padding-top: $spacing-2
        > div:last-child
            border-bottom-color: $color-text
            padding-bottom: $spacing-2