.organizations__page
    .document-content 
        .organization-logo picture
            background: $organization-background-color
            padding: 0

.organization
    .organization-title
        @extend .sr-only
    .media--logo
        margin-bottom: 0
    body:not(.organizations__section) &
        .media--logo
            filter: grayscale(1)
            padding: 0
            picture
                aspect-ratio: unset

.block-organizations--grid.organizations--with-images
    .organizations
        @include media-breakpoint-down(desktop)
            @include grid(3)