.organizations__page
    .document-content 
        .organization-logo picture
            background: $organization-background-color

.organization
    .organization-title
        font-size: 0 !important

    .media--logo
        margin-bottom: 0 !important

    body:not(.organizations__section) &
        .media--logo
            filter: grayscale(1)
    
    @include media-breakpoint-down(desktop)
        .media--logo
            padding: 0

.organizations
    @include media-breakpoint-down(desktop)
        @include grid(3)

body.full-width,
.organizations__section
    .organizations--grid
        @include media-breakpoint-up(desktop)
            grid-template-columns: repeat(6, 1fr) !important

.block-organizations--grid.organizations--with-images
    &:not(.with-summaries)
        .organizations
            @include media-breakpoint-down(desktop)
                @include grid(3)