.organizations__page
    .document-content 
        .organization-logo picture
            background: $organization-background-color
            padding: 0

.organization 
    .organization-title
        @extend .sr-only
    .media--logo
        filter: grayscale(1)