.posts
    li
        .post
            .post-content
                display: flex
                flex-direction: column
            .post-title
                @include lead
            .post-subtitle
                @include body-text
            .post-meta
                time::before
                    content: '—' / ""
                    margin-right: space(2)
            .post-categories
                order: -1
            .post-meta
                *
                    @include small
            .more
                @include meta
            
            &:hover .more::after
                transform: translateX(space(1))

    &--grid
        [itemprop="abstract"]
            margin-top: $spacing-2
            order: 2

    &--large
        .posts
            .post
                .post-meta
                    display: flex
                    flex-direction: column
                .post-title a
                    @include h2
                
                @include media-breakpoint-up(desktop)
                    .post-categories
                        order: -1
                
                @include media-breakpoint-down(desktop)
                    .post-meta + div
                        margin-top: $spacing-2

            @include in-page-without-sidebar
                .post
                    .post-title a
                        @include h3
            
            @include in-page-with-sidebar
                .post
                    .post-title a
                        @include h4
            
            @include in-page-with-or-without-sidebar
                &.without-images
                    .post
                        margin-left: 0
                        .post-content
                            width: columns(8)
                        .post-title a
                            @include h2   
    
    &--highlight
        --color-border: #{rgba($color-border, .3)}
        --border-width: 1px
        
        .post
            .post-categories
                margin-bottom: space()
        
        .list
            .post
                flex-direction: row
                justify-content: space-between
                gap: var(--grid-gutter)
                .post-title
                    @include body-text
                [itemprop="abstract"]
                    display: none
                .post-meta
                    text-align: left
                    margin-top: $spacing-2
                    width: unset
                    time::before
                        content: '—' / ""
                .media
                    flex-shrink: 0
                    width: columns(4)
                    margin-bottom: 0
                    order: 2
        
        @include media-breakpoint-up(desktop)
            .list
                > li
                    padding-bottom: space(8) 
                    margin-bottom: space(8) 
                    .post
                        .post-title
                            @include lead
                        .media
                            width: columns(2)
        
        @include in-page-without-sidebar
            .highlight-post
                position: relative
                padding-right: calc(var(--grid-gutter) / 2)
                margin-right: calc(var(--grid-gutter-negative) / 2)
                border-right: 1px solid var(--color-border)

    &--grid
        @include in-page-without-sidebar
            .posts
                display: flex
                flex-wrap: wrap
                .post
                    flex: 1
                    // min-width: columns(4)
    
    &--carousel
        // see 'layout.sass' for slider arrows behavior
        @include in-page-without-sidebar
            .block-content
                display: flex
                gap: var(--grid-gutter)
                flex-direction: column
                .top
                    width: 100%
                .top, .block-title
                    margin-bottom: 0
        
        .slider-arrows
            width: unset !important
    
    
// item
.posts__section .posts--grid, 
.posts_categories__term .posts--grid, 
.persons__page .posts--grid,
.block-posts--grid
    @include media-breakpoint-down(desktop)
        row-gap: $spacing-4
        article + article,
        > li + li
            margin-top: $spacing-4

// single
.posts__page
    .toc-container
        border-top: none !important
    .hero
        .lead
            @include lead-hero
        h1
            @include h2
        .blocks
            .block:not(.block-chapter)
                display: none !important
    .section-sidebar
        .taxonomies-single
            li.terms
                display: block
                ul
                    text-align: left !important
                &:not(first-child)
                    border-top: 0
                span, a
                    @include meta-serif
                li
                    margin-left: 0
                    &, a
                        text-align: left !important
    @include media-breakpoint-down(desktop)
        .section-sidebar
            margin-top: -$spacing-2
        &.full-width
            .post-infos
                padding-left: var(--grid-gutter)
                padding-right: var(--grid-gutter)
        &.full-width,
        &:not(.full-width)
            .post-sidebar
                margin-bottom: $spacing-3