body.ancestor-the-place
    .hero
        .hero-actions a
            min-width: unset
        .hero-content
            flex-wrap: wrap
            row-gap: $spacing-4 !important
            .lead
                @include h4
                border-bottom: 4px solid var((--color-text))
                padding-bottom: $spacing-3
                order: -1
                @include media-breakpoint-up(desktop)
                    width: columns(12) !important
                @include media-breakpoint-down(desktop)
                    margin-bottom: $spacing-3
            .blocks
                @include media-breakpoint-up(desktop)
                    width: columns(6)
                .block
                    --block-space-y: #{$spacing-4}
                    .container
                        padding: 0
                .block-chapter
                    &:first-child
                        @include lead
                        margin-top: 0
                    .text,
                    .notes,
                    .rich-text
                        width: 100%
                .block-title
                    padding-left: 0
                    h2
                        @include lead
                        margin-left: unset
                        padding-bottom: 0
                        &::after
                            content: none
    
    .chapter
        .top
            .block-title
                @include lead
                &::after
                    content: none

.page-the-place
    &.full-width
        .block-chapter
            .notes
                @include h6
                a
                    text-decoration: underline
                    text-decoration-color: var(--color-text)
                    text-decoration-thickness: 1px
            .lightbox-figure
                pointer-events: none
            @include media-breakpoint-up(desktop)
                .chapter
                    flex-direction: column
                    .text
                        width: 100%
                    .rich-text
                        width: columns(7)
                    .notes
                        @include h5
                
                &--with-image
                    .chapter
                        .notes
                            position: absolute
                            margin-top: $spacing-4
                        figure
                            margin-top: $spacing-4
                            margin-left: auto
                            width: columns(10)
                            order: 2
                            button,
                            img
                                margin: 0
                                width: 100%
            @include media-breakpoint-down(desktop)
                figure
                    order: 2
                    margin-top: $spacing-3